.strikeThru {
    text-decoration: line-through;
    font-style: italic;
    color: gray;
}

.myUList {
    list-style-type: none;
    font-size: x-large;
    margin-top: 20px;
    text-align: left;
}

.normalFont {
    text-decoration: none;
    font-style: normal;
    color: black;
}